.auth {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: black;
}

.auth h1 {
    text-align: center;
    color: black;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.control input,
.control textarea {
    font: inherit;
    padding: 0.35rem;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 1px solid #c1d1d1;
    display: block;
    width: 100%;
    font-size: 1.25rem;
}

.control input:focus,
.control textarea:focus {
    background-color: #cbf8f8;
    outline-color: teal;
}

.invalid input,
.invalid textarea {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalid input:focus,
.invalid textarea:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.actions {
    text-align: right;
}

.actions button {
    font-size: 1.25rem;
}

button {
    font: inherit;
    background-color: teal;
    color: white;
    border: 1px solid teal;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
    background-color: #ccc;
    color: #3f3f3f;
    border-color: #ccc;
    cursor: not-allowed;
}

button:hover,
button:active {
    background-color: teal;
    border-color: teal;
}

.form-actions {
    text-align: right;
}

.form-actions button {
    margin-left: 1rem;
}

.error-text {
    color: #b40e0e;
}

.actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: teal;
    border: none;
    padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
    background-color: transparent;
    color: teal;
}